<head>
    <meta charset="UTF-8">
    <title>wigi house 🏠</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
    <!--  <link rel="stylesheet" href="css/normalize.css">-->
    <!--  <link rel="stylesheet" href="css/html5boilerplateDefaults.css">-->
    <link rel="stylesheet" href="/css/app.css">

    <meta name="theme-color" content="#fafafa">

    {{#    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script> #}}

    {{#    <link href='/node_modules/fullcalendar/main.css' rel='stylesheet'/> #}}
    <script src='/js/app.js'></script>

</head>
