<header class="relative overflow-hidden">
    <div class="max-w-7xl mx-auto">
        <div x-data="{ isOpen: false }"
             class="relative z-10 pb-8
                sm:pb-16 md:pb-20
                lg:max-w-xl lg:w-full lg:pb-28
                xl:pb-32"
        >
            <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                <nav class="relative flex items-center justify-between
                        sm:h-10 lg:justify-start"
                     aria-label="Global"
                >
                    <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                        <div class="flex items-center justify-between w-full md:w-auto">
                            {{ partial:header/logo }}
                            {{ partial:header/hamburger }}
                        </div>
                    </div>
                    {{ partial:header/desktop_nav }}
                </nav>
            </div>

            <!-- mobile nav-->
            {{ partial:header/mobile_nav }}
            {{ partial:header/hero }}
        </div>
    </div>
    {{ partial:header/image }}
</header>
