{{ form:create in="{form_form|raw}" }}

{{ if success }}
<div class="bg-cyan-700 text-orange-50 p-2 mt-12">
    Vielen Dank für die Anfrage. Wir werden uns per Mail bei dir melden.
</div>
{{ else }}

{{ if errors }}
<div class="bg-red-300 text-orange-50 p-2 mt-12">
    {{ errors }}
    {{ value }}<br>
    {{ /errors }}
</div>
{{ /if }}

<div class="mt-9 grid grid-cols-1 gap-y-6 sm:grid-cols-10 sm:gap-x-8">
    {{ fields }}
    <div class="{{ if handle === 'remarks' }}sm:col-span-10{{ else }}sm:col-span-5{{ /if }}">
        <label class="block text-sm font-medium text-cyan-700"
               for="{{ handle }}"
        >
            {{ display }}
            {{ if validate|contains:required }}
            *
            {{ /if }}
        </label>

        <div class="mt-1">
            {{ field }}
        </div>

        {{ if error }}
        <p class="alert alert-danger">{{ error }}</p>
        {{ /if }}

    </div>
    {{ /fields }}

    <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

    <div class="text-center sm:col-span-10">
        <button type="submit"
                class="inline-flex justify-center
                    py-2 px-4 border border-transparent shadow-sm rounded-md
                    text-sm font-medium text-orange-50 bg-cyan-600
                    hover:text-cyan-700 hover:bg-orange-50
                    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500"
        >
            Absenden 📬
        </button>
    </div>

</div>
{{ /if }}

{{ /form:create }}
