<section id="calendar">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
        <div class="bg-cyan-700 text-orange-50 rounded-lg shadow-xl overflow-hidden">
            <div class="
                relative mx-auto max-w-2xl pt-12 pb-16 px-4 text-orange-300
                flex flex-col items-center"
            >
                {{ partial src="sets/textblock/titleAndTextblock" }}
            </div>
            <div class="pt-1 pb-12 px-6 sm:px-16 lg:pb-16 xl:pb-20 xl:px-20">
                <div id="calendar-container"></div>
            </div>
        </div>
    </div>
</section>
