<section>
    <div class="relative">
        <div class="
            relative h-72
            lg:absolute lg:right-0 lg:h-full lg:w-1/2"
        >
            {{ img_right_picture }}
            {{ partial src="sets/img" classes="w-full h-full object-cover" width="1024" }}
            {{ /img_right_picture }}
        </div>

        <div class="
            relative mx-auto max-w-md pt-12 pb-16 px-4
            sm:max-w-7xl sm:px-6 sm:py-20
            lg:px-8 lg:py-32
            lg:grid lg:grid-cols-2"
        >
            <div class="lg:pr-10 text-cyan-700">
                {{ partial src="sets/textblock/titleAndTextblock" }}
            </div>
        </div>
    </div>
</section>
