<section>
    <div class="relative">
        <div class="
            relative h-72
            lg:absolute lg:left-0 lg:h-full lg:w-1/2"
        >
            {{ img_left_picture }}
            <img class="w-full h-full object-cover"
                 src="{{ url }}"
                 alt="{{ alt }}">
            {{ /img_left_picture }}
        </div>

        <div class="
            relative mx-auto max-w-md pt-12 pb-16 px-4
            sm:max-w-7xl sm:px-6 sm:py-20
            lg:px-8 lg:py-32"
        >
            <div class="lg:w-1/2 lg:ml-auto lg:pl-10">
                {{ partial src="sets/textblock/titleAndTextblock" }}
            </div>
        </div>
    </div>
</section>
