<section id="contact">
    <div class="relative">
        <div class="
            relative sm:h-72
            lg:absolute lg:left-0 lg:h-full lg:w-1/2"
        >
            {{ section_img_left }}
            <img class="w-full h-full object-cover" src="{{ url }}" alt="{{ alt }}">
            {{ /section_img_left }}
        </div>

        <div class="
            relative mx-auto max-w-md px-4 py-12
            sm:max-w-7xl sm:px-6 sm:py-20
            lg:px-8 lg:py-32"
        >
            <div class="lg:ml-auto lg:w-1/2 lg:pl-10">
                {{ section_img_left_text }}
            </div>
        </div>
    </div>
</section>
